<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"rm-main","layout":{"type":"constrained"}} -->
<main id="main" class="wp-block-group rm-main is-layout-constrained">

	<!-- wp:group {"tagName":"article","className":"rm-page","layout":{"type":"constrained"}} -->
	<article class="wp-block-group rm-page is-layout-constrained">
		<!-- wp:post-title {"level":1,"fontSize":"h2","className":"rm-page__title"} /-->
		<!-- wp:post-content {"className":"rm-page__content","layout":{"type":"constrained"}} /-->
	</article>
	<!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
